---
layout: default
---
<h3>Activity Feed</h3>
{% for item in page.feed_items %}
<hr/>
<div class="row">
    <div class="small-2 columns">
        <p>
            <a href="{{ item.profile_link }}"><img src="{{ item.icon }}"></a>
        </p>
        {{ item.published | date_to_string }}
    </div>
    <div class="small-10 columns">
        <p>
            <a href="{{ item.title_link }}">{{ item.title }}</a>
            {% if item.image_preview_uri %}
            <br>
            <a href="{{ item.title_link }}"><img src="{{ item.image_preview_uri }}" /></a>
            {% endif %}
            {% if item.snippet %}
            <br>
            {{ item.snippet}}
            {% endif %}
        </p>
    </div>
</div>
{% endfor %}


