<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<link href='http://fonts.googleapis.com/css?family=Lato:300,700,300italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ "/css/foundation.custom.min.css" | prepend: site.baseurl }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<meta name="description" content="{{ site.description }}">
	<script src="{{ "/js/vendor/modernizr.js" | prepend: site.baseurl }}"></script>
</head>
