
    <nav class="tab-bar">

      <section class="middle tab-bar-section">
        <a href="/"><img src="/assets/images/debug_ninja.png" alt="Debug Ninja"></a>
      </section>

      <section class="right-small">
        <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>
    </nav>

    <aside class="right-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Navigation</label></li>
        <li><a href="/about/">About Me</a></li>
        <li><a href="/blog/">Blog Post Archive</a></li>
        <li><a href="/tags/">Posts by Tag</a></li>
        <li><a href="/tools/">Web Dev Tools</a></li>
      </ul>
    </aside>
