<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <a href="/"><img src="/assets/images/debug_ninja.png"></a>
    </li>
    <li class="toggle-topbar menu"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <a href="#">Menu</a>
        <ul class="dropdown">
          <li><a href="/">Home</a></li>
          <li><a href="/about/">About Me</a></li>
          <li><a href="/blog/">All Posts</a></li>
          <li><a href="/tools/">Online Tools</a></li>
          <li><a href="/tags/">Tags</a></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>
