<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{% if page.title %}{{ page.title }} | Debug Ninja{% else %}{{ site.title }}{% endif %}</title>
	<link rel="stylesheet" href="/assets/css/psychic_debugging.css">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<meta name="description" content="{% if page.title %}{{ page.title }}{% else %}{{ site.description }}{% endif %}">
	<script src="/assets/js/vendor/modernizr.js"></script>
	<script src="/assets/js/vendor/jquery.js"></script>
</head>
