<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="p:domain_verify" content="0b875ede208e5be2eb392813d75ecea5"/>
	<title>{% if page.title %}{{ page.title }} | Debug Ninja{% else %}{{ site.title }}{% endif %}</title>
{% css_asset_tag global %}
- /_assets/css/foundation_custom.css
- /_assets/css/syntax.css
{% endcss_asset_tag %}
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<meta name="description" content="{% if page.title %}{{ page.title }}{% else %}{{ site.description }}{% endif %}">
</head>
