    <aside class="large-3 columns">
 
      <h5>Posts by Tag</h5>

      <ul class="inline-list">
        {% assign tags_list = site.tags %}  
        {% include taghelper.html %}
      </ul>
 
      <div class="panel">
        <img src="https://pbs.twimg.com/profile_images/449574791498854400/KnyuuQ2g_bigger.jpeg" />
        <h5>About me</h5>
          <p>I am a software architect that specializes in large distributed web apps in ruby and .net.  I have a passion for music, coding, staying active and art.  This is my portfolio / blog / space on the internet.</p>
      </div>

      <div class="panel">
        <h5>Digital Footprints</h5>
          <hr />
          <div class="row">
            <div class="large-3 columns">
              <img src="http://codersblock.com/images/social-icons/feed/last-fm.png">
            </div>
            <div class="large-9 columns">
              <p>Listened to Two Door Cinemna Club – 30 Rock</p>
              <p><img src="http://userserve-ak.last.fm/serve/64s/81687449.png" /></p>
            </div>
          </div>
          <hr />
          <a href="#">See More →</a>
      </div>
 
    </aside>