    <aside class="small-12 large-3 columns">
      <div class="row">
        <div class="small-12 columns">
          <div class="panel">
            <h5>Posts by Tag</h5>
            <hr />
            <ul class="inline-list">
              {% assign tags_list = site.tags %}  
              {% include taghelper.html %}
              <li><a href="/blog/">All Posts →</a></li>
            </ul>
          </div>
        </div>

        <div class="small-12 medium-6 large-12 columns">
          <div class="panel text-center">
            <a href="/about/"><img src="/assets/images/selfie.png" alt="Selfie" /></a>
            <h5 class="text-left">Hi I'm Jeff,</h5>
              <p class="text-left">I am a software architect with a passion for music, coding, fitness and art.  This is my portfolio / blog / space on the internet.</p>
              <hr />
              <a href="/about/">See More →</a>
          </div>
        </div>        

        <div class="small-12 medium-6 large-12 columns">
          <div class="panel">
            <h5>Follow Me</h5>
            <hr />
            <ul class="small-block-grid-4 medium-block-grid-3 large-block-grid-3">
              <li><a href="http://8tracks.com/usbsnowcrash"><img src="/assets/images/social/8tracks.png"></a></li>
              <li><a href="http://instagram.com/usbsnowcrash"><img src="/assets/images/social/instagram.png"></a></li>
              <li><a href="http://www.last.fm/user/usbsnowcrash"><img src="/assets/images/social/lastfm.png"></a></li>
              <li><a href="http://lnkd.in/NWMsmR"><img src="/assets/images/social/linkedin.png"></a></li>
              <li><a href="http://www.pinterest.com/jefferyyeary/"><img src="/assets/images/social/pinterest.png"></a></li>
              <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}"><img src="/assets/images/social/rss.png"></a></li>
              <li><a href="http://www.stumbleupon.com/stumbler/usbsnowcrash/likes"><img src="/assets/images/social/stumble_upon.png"></a></li>
              <li><a href="https://twitter.com/usbsnowcrash"><img src="/assets/images/social/twitter.png"></a></li>
              <li><a href="http://www.youtube.com/user/usbsnowcrash"><img src="/assets/images/social/youtube.png"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </aside>