/***Lato Font from google fonts***/
@font-face {
  font-family: 'Lato';
  font-style: normal;
  -webkit-text-stroke: 0.5px;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(/assets/fonts/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  -webkit-text-stroke: 0.5px;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(/assets/fonts/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  -webkit-text-stroke: 0.5px;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(/assets/fonts/2HG_tEPiQ4Z6795cGfdivLO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}