<!doctype html>
<html class="no-js" lang="en">
  {% include head.html %}
    <body>

    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
        {% include header.html %}
        <section class="main-section">
          <div class="row">
            <div class="large-12" role="content">
              {{ content }}
            </div>
          </div>
        </section>

        <a class="exit-off-canvas"></a>
        {% include footer.html %}
      </div>
    </div>
    </body>
</html>